page-home {
  .app_name {
    font-weight: 200;
    color: #206bb9;
    padding-bottom: 13px;
    border-bottom: 1px solid #a6d3e8;
  }
  h1 {
    text-shadow: 1px 1px 1px grey;
  }

  .search_icon{
    position: absolute;
    right: 10px;
    top: 15%;
    font-size: x-large;
    color: #eaf8ff;
    border: 1px solid #8ed3f7;
    text-align: center;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    line-height: 33px;
  }
  .weather_view {
    color: white;
    background: #88c0fb;
    border-radius: 50%;
    height: 23rem;
    width: 23rem;
    text-shadow: 1px 1px 1px grey;
    .weather_icon {
      font-size: 5.2em;
      color: white;
      padding: 1.2rem;
    }
    .date {
      border-top: 1px solid white;
      padding-top: 5px;
      margin: 0;
    }
    .weather_icon-current {
      font-size: 4em;
      margin: 0;
      span {
        font-size: 0.5em;
      }
    }
  }
  .weather_week-head {
    text-transform: uppercase;
    margin: 0;
    margin-top: 17px;
    font-weight: bold;
    opacity: .4;
  }
  .weather_desc {
    color: #2a476d;
    font-size: large;
    text-shadow: 1px -1px 6px #e2f2ff;
    text-transform: uppercase;
  }
  .weather_details {
    color: #eff6fd;
    text-shadow: 1px 1px 1px grey;
    .desc {
      margin: 0;
      margin-top: -10px;
    }
  }
  .weather_five {
    margin-top: 5px;
    ion-col {
      background: #88c0fb;
      border-radius: .2em;
      margin-left: 2px;
      p:first-child {
        margin-top: 5px;
        font-weight: bold;
        opacity: .6;
      }
      .desc {
        margin: 0;
        margin-bottom: 5px;
      }
    }
  }
}
