page-home {
  
  h1{
    margin-top: 2rem;
    text-shadow: 1px 1px 1px grey;
  }

  .weather_view{
    color: white;
    background: #88c0fb;
    border-radius: 50%;
    height: 23rem;
    width: 23rem;
    text-shadow: 1px 1px 1px grey;

    .weather_icon{
      font-size: 5.2em;
      color: white;
      padding: 1.2rem;
    }

    .date{
      border-top:1px solid white;
      margin:0;
    }

    .weather_icon-current{
      font-size: 4em;
      margin: 0;
      span{
        font-size: 0.5em;
      }
    }
  }

  .weather_desc{
    color: #2a476d;
    font-size: large;
    text-shadow: 1px -1px 6px #e2f2ff;
    text-transform: uppercase;
  }

  .weather_details{
    color: #eff6fd;
    text-shadow: 1px 1px 1px grey;
  }
}
